body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 1500px;
    margin: auto;
    padding: 20px;
}

.main-head{
    grid-column: 2/4;
    color: #a82e6b;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-align: right;
}

.main-nav{
    column-span: all;
    grid-column: 1/4;
    text-align: right;
    border-bottom: 10px solid rgb(177, 105, 159);
}

li{
    color:#a64d79;
    display: inline;
    border-width: 2px;
    font-size: 30px;
}

p.bio{
    font-size: 22px;
    margin-top: 10px;
    padding-right: 4%;
    padding-bottom: 4%;
}

.contact{
    grid-column: 3;
    padding-left: 4%;
    text-align: left;
    font-size: 23px;
    border-left: 10px solid rgb(177, 105, 159);
}

p.coninfo{
    margin-top: 4%;
}

.mainportrait{
    border-style: solid;
    border-width: 2px;
    border-color: #600c35;  
}

figcaption{
    color:#000000;
    font-family: 'Poppins', sans-serif;
    font-size: 90%;
}

footer{
    grid-column: 1/4;
    background-image: url(images/photo-1446071103084-c257b5f70672.avif);
}

p.iconinfo{
    color:#ffffff;
    font-size: smaller;
    text-indent: 60px;
    backdrop-filter: blur(10px);

}