body{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-gap: 20px;
    max-width: 1600px;
    max-height: 1250px;
    margin: 2rem auto;
    background-color:#ffffff;

}
nav{
    column-span: all;
    font-size: 40px;
    font-style: italic;
    grid-column: 1/5;
    justify-self: left;  
    height: 70px; 
}


header{
    grid-column: 1/6;
}

footer{
    grid-column: 1/5;
}

h1{
    column-span: all;
    color: #a64d79;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 70px;
    height: 50px;
    text-align: right;
    
}

li{
    color:#a64d79;
    display: inline;
    border-width: 2px;
    border-color: #E1E1B0;
    
}

.lowerborder{
    column-span:all;
    grid-column: 1/-1;
    height: 20px;
    width: 1600px;
    opacity: .8;
}

img.midbordpic{
    grid-column: 4;
    grid-row: 4/7;
    display: grid;
    float:inline-start;
    height: 900px;
    width: 15px;
    column-span: all;
    opacity: .5;
}

p.bio{
    column-span: all;
    width: 800px;
    float:inline-start;
    font-size: 25px;
}

figure{
    grid-column: 1/2;
}

.mainportrait{
    border-style: solid;
    border-width: 2px;
    border-color: #600c35;
    align-items: left;   
}


figcaption{
    color:#a64d79;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

.contact{
    grid-column: 5/5;
    text-align: left;
}


p{
    color:#a64d79;
    font-family: 'Montserrat' sans-serif;
    font-size: x-large;
    
}

a{
    color:#a64d79;
    text-decoration: underline;
}
