body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 1500px;
    margin: 0, auto;
    padding: 20px;
}

.main-head{
    grid-column: 2/4;
    color: #a82e6b;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-align: right;
}

.main-nav{
    grid-column: 3;
    text-align: right;
}

li{
    color:#a64d79;
    display: inline;
    border-width: 2px;
    font-size: 30px;
}

p.bio{
    column-span: 2;
    font-size: 26px;
}

.contact{
    grid-column: 3;
    text-align: left;
    font-size: 28px;
    
}

.mainportrait{
    border-style: solid;
    border-width: 2px;
    border-color: #600c35;  
}

figcaption{
    color:#000000;
    font-family: 'Poppins', sans-serif;
    font-size: 90%;
}

footer{
    grid-column: 1/4;
    background-image: url(images/photo-1446071103084-c257b5f70672.avif);
}

p.iconinfo{
    color:#ffffff;
    font-size: smaller;
    text-indent: 60px;
    backdrop-filter: blur(10px);

}
